<!--<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">

    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p class="text-muted wow animated slideInUp" data-wow-delay=".15s">{{ site.description }}</p>
    
    
    
  </div>
</div>-->
<div class="row justify-content-center align-items-center p-4">
    <h3>Content</h3>
</div>

<div style="witdh: 100%;margin: 30px 40px 10px 40px;">
 <div class="wow animated fadeIn" data-wow-delay=".15s" style="witdh: 100%;">
   <a href="/projects" class="project card text-dark">
     <div class="card-body">
       <h5 id="futurecalculator-name" class="card-title">Projects</h5>
       <p id="futurecalculator-desc" class="card-text">Here you find all my projects I have done so far. </p>
       <div>
        <div style="width: 100px;height:100px;float:left;margin-left: 0px;">
            <img src="/assets/project-images/future-calculator-logo.png" alt="FutureCalculator" style="width: 100px;height:100px;" />
        </div>
        <div style="width: 100px;height:100px;float:left;margin-left: 0px;">
            <img src="/assets/project-images/exashare-logo.png" alt="Exashare" style="width: 70px;height:70px;" />
        </div>
        <div style="width: 100px;height:100px;float:left;margin-left: 0px;">
            <img src="/assets/project-images/bachelor-thesis-logo.png" alt="Bachelor Thesis" style="width: 70px;height:70px;" />
        </div>
        <div style="width: 100px;height:100px;float:left;margin-left: 0px;">
            <img src="/assets/project-images/master-site-logo.png" alt="MasterSite" style="width: 70px;height:70px;" />
        </div>
        <div style="width: 100px;height:100px;float:left;margin-left: 0px;">
            <img src="/assets/project-images/free-style-logo.png" alt="FreeStyle" style="width: 70px;height:70px;"/>
        </div>
       </div>
     </div>
   </a>
 </div>
</div>

<div style="witdh: 100%;margin: 30px 40px 10px 40px;">
 <div class="wow animated fadeIn" data-wow-delay=".15s" style="witdh: 100%;">
   <a href="/studies" class="project card text-dark">
     <div class="card-body">
       <h5 id="futurecalculator-name" class="card-title">Studies</h5>
       <p id="futurecalculator-desc" class="card-text">In this section you will find an overview of my studies at TU Vienna and ETH Zürich</p>
       <div>
        <div style="width: 100px;height:100px;float:left;margin-left: 0px;">
            <img src="/assets/education-images/ETHSignet.png" alt="ETH" style="width: 70px;height:70px;" />
        </div>
        <div style="width: 100px;height:100px;float:left;margin-left: 0px;">
            <img src="/assets/education-images/TUSignet.jpg" alt="TU" style="width: 70px;height:70px;" />
        </div>
       </div>
     </div>
   </a>
 </div>
</div>

<div style="witdh: 100%;margin: 30px 40px 10px 40px;">
 <div class="wow animated fadeIn" data-wow-delay=".15s" style="witdh: 100%;">
   <a href="/books" class="project card text-dark">
     <div class="card-body">
       <h5 id="futurecalculator-name" class="card-title">Books</h5>
       <p id="futurecalculator-desc" class="card-text">Finally, in this section you find a list of books I read or used in my studies.</p>
       <div>
        <div style="height:80px;float:left;margin-left: 0px;">
            <img src="/assets/books-images/six-easy-pieces.png" alt="six-easy-pieces" style="height:70px;" />
        </div>
        <div style="height:80px;float:left;margin-left: 5px;">
            <img src="/assets/books-images/six-not-so-easy-pieces.png" alt="six-not-so-easy-pieces" style="height:70px;" />
        </div>
        <div style="height:80px;float:left;margin-left: 5px;">
            <img src="/assets/books-images/theoretische-physik.png" alt="theoretische-physik" style="height:70px;" />
        </div>
       </div>
     </div>
   </a>
 </div>
</div>
